<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :userSender %><br>
    <%= f.text_field :userSender %>
  </div>
  <div class="field">
    <%= f.label :myth %><br>
    <%= f.text_field :myth %>
  </div>
  <div class="field">
    <%= f.label :quoteDate %><br>
    <%= f.date_select :quoteDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
