<h1>Listing quotes</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Myth</th>
      <th>Quotedate</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.content %></td>
        <td><%= quote.myth %></td>
        <td><%= quote.quoteDate %></td>
        <td><%= quote.string %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
