<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>

<p>
  <strong>Myth:</strong>
  <%= @quote.myth %>
</p>

<p>
  <strong>Quotedate:</strong>
  <%= @quote.quoteDate %>
</p>

<p>
  <strong>String:</strong>
  <%= @quote.string %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
